@page
@model WestwindWebApp.Pages.Categories.QueryByPartialDescriptionModel
@{
}
<h1>Categeory Query by Partial Description</h1>

<p>@Model.FeedbackMessage</p>

<p>@Html.Raw(Model.FeedbackMessage)</p>

@if(Model.SearchResultList.Count > 0)
{
    <h2>Table of Categories</h2>
<table>
    <thead>
        <tr>
            <th>CategoryID</th>
            <th>Category Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.SearchResultList)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
}

<form method="post">
    <label>Enter Description:</label>
    <input type="text" 
        asp-for="SearchValue" 
        placeholder="enter description here"
        required />

    <button type="submit" asp-page-handler="Fetch">Fetch By Description</button>
    <button type="submit" asp-page-handler="Clear">Clear</button>
</form>