@page
@model WestWindWebApp.Pages.Products.ProductCRUDModel
@{
    ViewData["Title"] = "Product CRUD";
}
<h1>Product Maintenance</h1>

<p>@Model.FeedbackMessage</p>

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>

    <label>
        ProductID:
        <input type="number" asp-for="CurrentProduct.ProductID" readonly />
        <span asp-validation-for="CurrentProduct.ProductID"></span>
    </label>
    

    <label>
        Product Name:
        <input asp-for="CurrentProduct.ProductName" type="text" placeholder="product name" />
        <span asp-validation-for="CurrentProduct.ProductName"></span>
    </label>

    <label>
        Supplier:
        <select asp-for="CurrentProduct.SupplierID">
            @foreach(var currentSupplier in Model.SupplierList)
            {
                <option value="@currentSupplier.SupplierID"
    selected=@(Model.CurrentProduct != null && currentSupplier.SupplierID == Model.CurrentProduct.SupplierID)    
                >
                    @currentSupplier.CompanyName
                </option>
                
            }
        </select>
         <span asp-validation-for="CurrentProduct.SupplierID"></span>
    </label>

    <label>
        Category:
        <select asp-for="CurrentProduct.CategoryID">
            @foreach(var currentCategory in Model.CategoryList)
            {
                <option value="@currentCategory.CategoryID"
    selected=@(Model.CurrentProduct != null && currentCategory.CategoryID == Model.CurrentProduct.CategoryID)    
                >
                    @currentCategory.CategoryName
                </option>
                
            }
        </select>
         <span asp-validation-for="CurrentProduct.CategoryID"></span>
    </label>

    <label>
        Quantity Per Unit
        <input asp-for="CurrentProduct.QuantityPerUnit" type="text" placeholder="Unit Size" />
        <span asp-validation-for="CurrentProduct.QuantityPerUnit"></span>
    </label>

    <label>
        Minimum Order Quantity
        <input asp-for="CurrentProduct.MinimumOrderQuantity" 
            type="number" min="1" step="1" placeholder="minimum order quantity" />
        <span asp-validation-for="CurrentProduct.MinimumOrderQuantity"></span>
    </label>

    <label>
        Unit Price
        <input asp-for="CurrentProduct.UnitPrice" 
            type="number" min="0.00" step="0.01" placeholder="unit price" />
        <span asp-validation-for="CurrentProduct.UnitPrice"></span>
    </label>

    <label>
        Units On Order
        <input asp-for="CurrentProduct.UnitsOnOrder" 
            type="number" min="0" step="1" placeholder="units on order" />
        <span asp-validation-for="CurrentProduct.UnitsOnOrder"></span>
    </label>

    <label>
         @* for a checkbox, the transfer of data by default is either: not checked -> null, checked -> on
        IF you are expecting a boolean (true or false) then use the attribute value="true"
           this will result in: not checked -> null, checked -> true
        Why does this work. REMEMBER: when an instance is create, the properties in your instance
           will be set to: a) system defaults depending on datatype or b) constructor assignments.
           THEREFORE the default of a boolean property will be "false"
    *@
        Discontinued
        <input asp-for="CurrentProduct.Discontinued" 
            type="checkbox" value="true" />
            (disontinued if checked)
        <span asp-validation-for="CurrentProduct.Discontinued"></span>
    </label>

    @if (Model.CurrentProduct.ProductID == 0)
    {
        <button type="submit" asp-page-handler="New">Save New</button>
    }
    else
    {
        <button type="submit" asp-page-handler="Update">Update</button>
        <button type="submit" asp-page-handler="Delete" 
            onclick="return confirm('Are you sure you want to delete this item?');">Discontinue</button>
    }
    
    <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>
    <button type="submit" asp-page-handler="Search" formnovalidate>Search</button>
    
</form>
